.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 500px;
    background-color: white;
    z-index: 2;
    position: absolute;
    z-index: 10;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .card p {
    margin: 8px 0;
    font-size: 14px;
  }

  .card p  .checkbox{
    background-color: white;
  }

  .c{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 64px;
  }

  .p{
    width: 50%;
    height: auto;
  }

  .t{
    width: 50%;
  }

  .t .location {
    display: flex;
    align-items: center;
  }

  .t .location span {
    padding: 0;
  }

  .t h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: -5px;
  }

  .t p {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .t span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }