.map img{
    height:auto;
    width: 100%;
}

.map .pin img{
    width: 34px;
    height: 53px;
    position: absolute;
    top: 261px;
    left: 443px;
    z-index: 1;
    padding-top: 50px;
    margin-top: -60px;
}

.map .pin img:hover{
    width: 34px;
    height: 53px;
    position: absolute;
    top: 261px;
    left: 443px;
    z-index: 99;
}

.map-image{
    z-index: 1;
}