.product-wrapper{
    width: 35px;
    height: 120.73px;
    top: 122px;
    padding: 12.36px;
    border-radius: 12.36px;
    border: 1px;
    border-color: black;
    gap: 11.13px;
    display: flex;

}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    display: flex !important;
}

.card-wrapper {
    width: 33.33% !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    display: flex !important;
}