.checkbox{
    background-color: aliceblue;
    border: 6px ;
    border-color: black ;
    width: 254px;
    height: 40.03px;
    padding: 8px;
    border-radius: 4px;
    gap: 9px;
align-items: center;
}